<header class="cabecalho">
    <img src="logoconta.png" alt="Logo" class="cabecalho__logo">
    <h1 class="cabecalho__conteudo">Pix</h1>
    <button class="cabecalho__conteudo__botao p-button p-button-lg" (click)="voltar()">
        <i class="pi pi-arrow-left" style="font-size: 2rem"></i>
    </button>
</header>

<div class="nova-caixa">
    <div class="nova-caixa__title">
        <i class="pi pi-money-bill" style="font-size: 2rem; margin-right: 10px;"></i>
        <span class="nova-caixa__description">Pagar ou transferir</span>
    </div>
    <form class="formulario">
        <div class="card flex justify-content-center">
            <p-floatLabel>
                <input pInputText type="text" [(ngModel)]="dadosCadastrais.chave_pix" />
                <label for="username">Chave pix</label>
            </p-floatLabel>
        </div>
        <button type="submit" class="formulario__botao">Enviar</button>
    </form>
    <div class="minhas-chaves">
        <i class="pi pi-key" style="font-size: 2rem; margin-right: 10px;"></i>
        <span class="minhas-chaves__description">Minhas chaves</span>
    </div>
</div>

<div class="pix-area">
    <h2 class="pix-area__title">Movimentações</h2>
    <div class="pix-area__item">
        <span class="pix-area__description">Pix - Recebimento</span>
        <span class="pix-area__amount">R$ 3,00</span>
        <span class="pix-area__date">09/09/2024 às 20h44</span>
    </div>
    <div class="pix-area__item">
        <span class="pix-area__description">Pix - Recebimento</span>
        <span class="pix-area__amount">R$ -53,00</span>
        <span class="pix-area__date">09/09/2024 às 20h42</span>
    </div>
    <div class="pix-area__item">
        <span class="pix-area__description">Pix - Recebimento</span>
        <span class="pix-area__amount">R$ 20,00</span>
        <span class="pix-area__date">21/08/2024 às 15h51</span>
    </div>
</div>