* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('rural.jpeg') no-repeat center center fixed; /* Imagem de fundo */
  background-size: cover; /* Faz a imagem cobrir toda a área */
  width: 100%;
}

body {
  min-height: 100vh;
  background: none; /* Removido para que a imagem de fundo apareça no centered-form */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 400px;
  margin-bottom: 20px;
}

.tipo-cliente {
  display: flex;
  justify-content: flex-end; /* Alinha ao lado direito */
  width: 100%;
  margin-bottom: 20px; /* Espaçamento abaixo das opções */
  position: absolute; /* Para fixar no canto superior */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância do lado direito */
}

.tipo-cliente__texto {
  color: #003b2d; /* Cor do texto das opções */
  font-size: 16px;
  margin-left: 10px; /* Espaçamento entre os textos */
}

.separador {
  color: #003b2d; /* Cor do separador */
  margin: 0 10px; /* Espaçamento ao redor do separador */
}

.formulario {
  width: 420px;
  background-color: #fff; /* Fundo branco para o quadrado central */
  border: 2px solid transparent;
  backdrop-filter: blur(20px); /* Você pode remover isso se não precisar do efeito de desfoque */
  font-size: 36px;
  border-radius: 10px;
  padding: 30px;
  font-family: "Inter", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para o quadrado */
}

.formulario h1 {
  color: #003b2d; /* Cor do texto do título */
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.formulario .formulario__conteudo {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.formulario__conteudo input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #003b2d; /* Borda verde Sicredi */
  border-radius: 40px;
  padding-left: 15px;
}

.formulario__conteudo input::placeholder {
  color: #003b2d; /* Cor do placeholder */
}

.formulario .botoes {
  display: flex;
  justify-content: space-between;
  gap: 5px; /* Espaçamento de 5px entre os botões */
}

.formulario button {
  width: 50%;
  height: 45px;
  background-color: #007a33; /* Verde Sicredi */
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #fff; /* Texto branco */
  font-weight: 600;
}

.formulario button:hover {
  background-color: #f7e12f; /* Amarelo Sicredi */
  cursor: pointer;
  color: #003b2d; /* Verde escuro Sicredi */
}