.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da viewport */
    background-color: #f0f0f0; /* Cor de fundo suave */
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .bank-icon {
    width: 50px;
    height: 30px;
    margin-right: 10px; /* Espaçamento entre o ícone e o título */
  }
  
  .button-container {
    margin-top: 20px; /* Espaçamento acima do botão */
    display: flex;
    justify-content: center;
  }
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% da altura da viewport */
    background-color: #f0f0f0; /* Cor de fundo suave */
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .bank-icon {
    width: 50px;
    height: 30px;
    margin-right: 10px; /* Espaçamento entre o ícone e o título */
  }
  
  .button-container {
    margin-top: 20px; /* Espaçamento acima do botão */
    display: flex;
    justify-content: center;
  }