<div class="container">
    <div class="telacadastro">
      <div class="form-container">
        <h1 class="titulo">Faça seu cadastro</h1>
        <div class="form-group">
          <label class="label">Nome</label>
          <input pInputText type="text" [(ngModel)]="dadosCadastrais.nome" class="campo__cadastro" placeholder="NOME">
        </div>
        <div class="form-group">
          <label class="label">CPF/CNPJ</label>
          <input pInputText type="text" [(ngModel)]="dadosCadastrais.cpf_cnpj" class="campo__cadastro" placeholder="CPF/CNPJ">
        </div>
        <div class="form-group">
          <label class="label">Senha</label>
          <input pInputText type="password" [(ngModel)]="dadosCadastrais.senha" class="campo__cadastro" placeholder="SENHA">
        </div>
        <button pButton (click)="clickSalvar()" class="campo__cadastro__salvar">Cadastrar</button>
      </div>
    </div>
  </div>